@import "semantic-ui";

.chatbox {
  height: 385px;
}

.left-menu-chatbox {
  height: 100% !important;
  width: 100% !important;
}

.left-menu-chatbox-padding {
  padding: 0 !important;
}

#messages {
  height: 15em;
  overflow: auto;
}